@import "tailwindcss";


:root {
  --brand-blue: #0014a8; /* 0047bb Pantone 293C-ish for web */
  --black: #0b0b0b;
  --white: #ffffff;
}

body {
  margin: 0;
  color: var(--black);
  background: var(--white);
  font-family: var(--font-poppins), system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

.font-dearjoe {
  font-family: var(--font-dearjoe), var(--font-poppins), system-ui;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

